@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.animate-pulse {
  animation: pulse 0.3s ease-in-out;
}